.top {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
    font-size: 18px;;
}

li, .logo {
    color: #F9FAF8;
}

.logo {
    font-size: 24px;
    font-weight:  bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
}

.main {
    display: flex;
    justify-content: center;
    padding: 80px;
}

.left {
    color: #F9FAF8;
    width: 400px;
}

img {
    max-width: 500px;
    height: auto;
}

.title {
    font-size: 48px;
    font-weight: 800;
}

.text {
    color: #E5E7EB;
    font-size: 18px;
}

button.signup {
    background-color: #3882F6;
    color: white;
    padding: 8px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 12px;
    font-size: 18px;
    font-weight: bolder;
    border: none;
    margin-top: 10px;
}